@font-face{
  font-family: FjallaOne;
  src:url(fonts/Fjalla_One/FjallaOne-Regular.ttf);
  }

@font-face{
  font-family: Hind;
  src:url(fonts/Hind/Hind-Regular.ttf);
}

@font-face{
  font-family: Teko;
  src:url(fonts/teko/teko-regular.ttf);
}

body{
display: flex ;
justify-content: center;
background: #F5D8C7 ;
}

h1{
  font-family: FjallaOne;
  text-align: center;
  color: #DF785A;
  padding: 15px
}

h3{
    font-family: Hind;
    text-align: center;
    color: #DF785A;
}

#container{
position: relative;
top: 100px;
background: #FAECE3 ;
width: 500px;
}

#content-box{
font-family: Teko;
background: white ;
padding: 15px;
margin: 15px;
color: #F5D8C7;
}

ul{
  list-style-type: none;
  padding: 9px ;
  display: flex;
  justify-content: left;
}

a{
  font-family: Hind;
  position: relative;
  text-decoration:none;
  background: #DF785A ;
  padding: 10px;
  margin-bottom: -2px;
  margin: 5px ;
  color: #FFF;
}

a:hover{
  background: #FFF;
  color:#DF785A ;
}

#slider {
Overflow: hidden;
}
#slider figure {
Position: relative;
Width: 500%;
Margin: 0;
Left: 0;
Animation: 20s slider infinite;
}

#slider figure img {
Width: 20%;
Float: left;

@keyframes slider {
0% {
Left: 0;
}
20% {
Left: 0;
}
25%{
Left: -100%;
}
45% {
Left: -100;
}
50% {
Left: -200%;
}
70% {
Left: -200%;
}
75% {
Left: -300%;
}
95% {
Left: -300%;
}
100% {
Left: -400%;
}
